.site-header .collapse-trigger {
    font-size: 20px;
    height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: all 0.3s, padding 0s;
}

.site-header-left {
    width: max-content;
    line-height: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    .ant-breadcrumb {
        font-size: 15px;
        user-select: none;
    }
}

.site-header-right {
    float: right;
}

.site-content {
    margin: 24px;
}

.content-header {
    margin: 16px 0;
}

.container-content {
    padding: 24px;
    position: relative;
}