@sidebar-background: rgb(84, 92, 100);

.site-nav {
    background: @sidebar-background;
    .ant-menu {
        background: @sidebar-background;
        .ant-menu-item {
            height: 48px;
            line-height: 48px;
            margin: 0;
        }
        .ant-menu-sub {
            background: darken(@sidebar-background, 5%);
            user-select: none;
        }
    }
}